*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	
}
body{
	overflow: hidden;
}
body,html{
	scroll-behavior: smooth;
}
header{
	display: flex;
	flex-direction: column;
}
.head{
	display: flex;
	justify-content: space-between;
	background-color: rgba(33, 32, 32, 0.992);
    color: #fff;
	padding: 0.5rem 1rem;
}
.head Button{
	border-radius: 0.5rem;
	padding: 0.8rem 1.5rem;
	color: white;
	background-color: green;
	outline: black;
}
.middle{
    display: flex;
	justify-content: space-between;
	background-color: black;
	color: #fff;
	padding: 0.5rem 8rem;
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 1rem 8rem;
	background-color: rgb(134, 205, 233);
}
nav ul{
	display: flex;
	gap:2.5rem;
	list-style: none;
	font-size: 20px;
}