*{
	margin: 0;
	padding: 0;
	text-decoration: none;	
   font-family: Helvetica, Arial,  sans-serif;

}
body,html{
	scroll-behavior: smooth;
}

body,html{
	scroll-behavior: smooth;
}
header{
	display: flex;
	flex-direction: column;
}
.head{
	display: flex;
	justify-content: space-between;
	background-color: rgba(33, 32, 32, 0.992);
    color: #fff;
	padding: 0.5rem 1rem;
}
.head Button{
	border-radius: 0.5rem;
	padding: 0.8rem 1.5rem;
	color: white;
	background-color: green;
	outline: black;
}
.middle{
    display: flex;
	justify-content: space-between;
	background-color: black;
	color: #fff;
	padding: 0.5rem 8rem;
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 1rem 8rem;
	background-color: rgb(134, 205, 233);
	position: fixed;
	width: 90%;
	z-index: 300;
}
nav ul{
	display: flex;
	gap:2.5rem;
	list-style: none;
	font-size: 20px;
}
.one{
	padding-top: 18rem;
	padding-left: 9rem;
	color: blue;
	font-weight: 1px;
}
.sec{
	font-size: 90px;
	padding-left: 8rem;
	padding-top: 1rem;
}
.thr{
	padding-left: 9rem;
	padding-top: 2rem;
	font-size: 22px;
	color: gray;
	font-family: unset;

}
.buttons{
	padding-left: 9rem;
	font-size: 3rem;
}
.buttons button{
	background: transparent;
	padding: 1.8rem 5rem;
	border-radius: 1rem;
	margin-top: 2rem;
	border: none;
	outline: none;
}
.buttons button:first-child{
	background: blue;
	box-shadow: 0 0 10px 0 #000;
	color: white;
}
.best{
	display: flex;
}
.hero{
	padding-left: 10rem;
}

.scroll{
	font-size: 55px;
	padding: 1rem;
	margin-top: 2rem;
	color: whitesmoke;
	word-spacing: 1rem;
	overflow: hidden;
}
.contain{
	padding-left: 45rem;
	padding-top: 9rem;
}
.for{
	color: blue;
	font-weight: 1px;
	font-size: 25px;
}
.fif{
	font-size: 55px;
	padding-top: 1rem;
}
.six{
	color: grey;
	padding-top: 2rem;
	font-size: 22px;
}
.contain3{
	display: flex;
	justify-content: space-between;
	padding-right: 10rem;
	padding-left: 5rem;
	padding-top: 4rem;
}
.sev{
	font-size: 30px;
}
.egt{
	color: grey;
	font-size: 18px;
	padding-top: 0.5rem;
}
.buttons1 button{
	background: transparent;
	padding: 1.8rem 5rem;
	border-radius: 1rem;
	margin-top: 4rem;
	border: none;
	outline: none;
}
.buttons1 button:first-child{
	background: blue;
	box-shadow: 0 0 10px 0 #000;
}
.nin{
	text-align: center;
	padding-top: 8rem;
}
.scroller{
	display: flex;
	word-spacing: 3rem;
}
.slide {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5rem 4rem;
	font-size: 1.5rem;
	color: rgb(157, 157, 157);
	
}
.Services{
	padding: 5rem 5rem;
	display: flex;
}
.it{
	color: blue;
	font-size: 1.5rem;
}
.solve{
	font-size: 4rem;
	padding-top: 1rem;
}
.main_box{
    display: flex;
    padding: 0rem  7rem 2rem 7rem;
    gap: 2rem ;
}
.box{
    height: 250px;
    border-radius: 1.5rem;
    padding-top: 3rem;
    font-size: 15px;
	background: rgb(218, 178, 185);
	padding-left: 1rem;
	padding-right: 5rem;
}
.main_box button{
	background:transparent;
	border: none;
	outline: none;
	padding-top: 0.8rem;
}
p{
	font-size: 17px;
}
.main_box p{
	padding-top: 0.8rem;
}
.need{	
	padding-left: 31rem;
	padding-top: 1rem;
}
.big_box{
	background-color: blue;
	height: 470px;
	padding: 7rem 5rem 2rem 5rem;
	margin: 5rem 5rem;
    color: white;
}
.big_box p{
	font-size: 5rem;
	font-family: bold;
}
.small_box{
	display: flex;
	justify-content: space-between;
	padding-top: 8rem;
}
.sbox h1{
	font-size: 2.7rem;
	font-family: bold;
}
.main_img{
	display: flex;
    gap: 2rem;
}
.img img{
	width: 100%;
	height: 100%;
}
.img{
	width: 500px;
	height: 530px;
	position: relative;
}

.img_words{
	position: absolute;
	z-index: 100;
	bottom: 2rem;
	right: 1rem;
	left: 1rem;
	padding: 3rem;
	background-color: #fff;
	color: #000;
}
.img_words h3{
color:blue;
font-size: 26px;
padding-bottom:0.5rem;
}
  .security{
	font-size: 80px;
	font-weight: bolder;
    padding: 10rem;
  }
  .pht_box{
	display: flex;
	width: 80%;
	height: 70vh;
	background: rgb(175, 197, 206);
	margin: 5rem 10rem;
  }
  .pht_box img{
	width: 100%;
	height: 100%;
	padding: 4rem 5rem 4rem ;
}
  .pht{
	width:1100px;
	height: 450px;
  }
  .client{
	padding:4rem 8rem;
	
  }
  .client h3{
	color: blue;
	font-size: 20px;
	padding-bottom: 1rem;
  }
  .client h1{
	font-size: 55px;
  }
  .client p{
	font-size: 25px;
	padding-top: 2.5rem;
	color: rgb(103, 99, 99);
  }
  .client h2{
	font-size: 30px;
	padding-top: 7rem;
  }
  .client h5{
	font-size: 20px;
	color:rgb(91, 86, 86);
  }

  .slider{
	overflow: hidden;
	width: 100%;
	height: 10rem;
	position: relative;
  }

  .animation{
	width: 200%;
	background-color: #3f3ff0;
	text-align: center;
	font-size: 3.5rem;
	display: flex;
	color: aliceblue;
	position: absolute;
	left: 0%;
	animation: anime 25s infinite linear;
	z-index: 3;
}

.animation h1{
	font-size: 4.5rem;
}
	
	@keyframes anime {
		0%{
			left: 0%;
		}
		100%{
			left: -100%;
		}
  	}
	.member{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.blue_box{
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	.expert h3{
     color: white;
	 font-size: 1.5rem;
	}	
	.member h1{
		font-size: 4rem;
		color: white;
	}
	.scrum h3{
		color: blue;
		font-size: 1.5rem;
	}
	.scrum h1{
		font-size: 2rem;
		color: white;
	}
	.integer p{
		font-size: 1.5rem;
		color: white;
	}
	.icon{
		font-size: 4rem;
		color: white;
	}
	.blue_box{
		padding: 3rem 8rem;
		background: rgb(8, 8, 92);
	}
	.expert{
		background: rgb(8, 8, 92);
		padding: 3rem 8rem ;
	}
	.best_price{
		display: flex;
		justify-content: space-between;
		padding: 0rem 8rem 3rem 8rem;

	}
	.plan h3{
		color: blue;
		font-size: 1.5rem;
		padding: 8rem 8rem 0rem 8rem;
	}
	.best_price h1{
		font-size: 4rem;
	}
	.boxes{
		display: flex;
		padding: 5rem 10rem;
		gap: 2rem;
	}
	.boxes1{
		width: 400px;
		height: 600px;
		background-color: rgb(255, 251, 251);;
		padding: 5rem;
		border-radius: 2rem;

	}
	.boxes2{
		width: 400px;
		height: 600px;
		background-color:rgb(43, 43, 255) ;
		padding: 5rem;
		border-radius: 2rem;

	}
	.boxes3{
		width: 400px;
		height: 600px;
		background-color:rgb(255, 251, 251);;
		padding: 5rem;
		border-radius: 2rem;
	}
    .boxes h3 {
		padding-bottom: 1.5rem;
		color: rgb(116, 114, 114);
	}
	.boxes ul li{
		padding-top: 1rem ;
		color: black;
       font-size: 1.5rem;
	}
	.boxes2 h3{
		color: white;
	}
	.boxes2 ul li{
		color: white;
	}
	.boxes h1{
		font-size: 3.5rem;
	}
	.boxes h3{
		font-size: 1.5rem;
	}
	.boxes p{
	  padding-bottom: 3rem;
	  font-size:1.3rem ;	
	}
	.boxes h4{
		font-size: 1.3rem;
		padding-top: 2.5rem;
		padding-bottom: 3rem;
	}
	.boxes2 {
		color: #fff;
	}
	.Button button{
		padding: 2rem 7rem;
		background: transparent;
		border-radius: 3rem;
		color: blue;
		font-size: 18px;
		border-color: blue 	;
	}
	.boxes2 button{
		color: white;
		border-color: white;
	}
	.our{
		display: flex;
	}
	.our h3{
		font-size: 2rem;
		color: blue;
		/* padding:  10rem 2rem 1rem 60rem; */
	}
	.our h1{
		font-size: 4rem;
		/* padding:  0rem 2rem 1rem 56rem; */
	}
	.business button{
       /* padding: 2rem 20rem 2rem 1rem; */
		/* margin:  1rem 1rem 1.5em 58rem; */
        background-color: transparent;
		font-size: 1.5rem;
		justify-content: space-between;
	}
	.artl h3{
	 text-align: center;
	  font-size: 1.6rem;
	  color: blue;
	  padding-top: 5rem;
	}
	.artl h1{
		font-size: 3.5rem;
	 text-align: center;
        padding-bottom: 5rem;
	}
	.color_box{
		display: flex;
		gap: 5rem;
		padding: 2rem 4rem;
	}
	.pink img{
		width: 100%;
		height: 30vh;
	}
	.pink{
		width: 550px;
		padding: 1rem;
		position: relative;
	}
	.pink h1{
		font-size: 1.5rem;
		padding: 2rem 0rem;
	}
	.pink p{
		font-size: 1.3rem;
		padding-bottom: 2rem;
	
	}
	.pink button{
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 1.5rem;
		color: blue;
		font-family: bold;
	}
	.year{
		position: absolute;
		z-index: 100;
	}
	.rectangle{
		width: 85%;
		height: 32vh;
		background: blue;
		margin: 20rem 9.5rem 0rem 9.5rem;
		color: #fff;
		display: flex;
		justify-content: space-between;

	}
	.get button{
	   padding: 2rem 4rem;
	   background-color: #fff;
	   color: black;
	   font-size: 1.2rem;
	   border: none;
	   outline: none;
	   margin: 6rem 5rem;
	}
	.rectangle h1{
	   padding-top: 5rem;
	   padding-left: 10rem;
		font-size: 3rem;
	}
	.laptop img{
	   height: 50vh;
	   transform: translate( 130px, -158px  );

	}
	.foot{
		background-color: blue;
		color: #fff;
		display: flex;
		justify-content: space-between;
		font-size: 1.3rem;
		padding: 2rem 10rem;
	}
	.term{
		display: flex;
		gap: 2rem;
	}
	.icons{
		font-size: 4rem;

	}
	.black1{
		display: flex;
		justify-content: space-between;
		margin-top: 8rem;
		padding: 10rem 8rem;
		background-color: black;
		color: white;
	}
.black2 h1{
	font-size: 4.5rem;
}
.black2 p{
	font-size: 1.5rem;
}
.black3 h1{
	font-size: 2rem;
	padding: 1rem;
}
.blacks{
	display: flex;
	font-size: 20px;
}
.blacks2 h3{
 padding-top:1rem; 	
}
.blacks2 p{
	padding-top: 0.7rem;
}
.blacks img{
	width: 100px;
	height: 100px;
	padding: 1rem;
}
.black3 ul li{
		padding: 1rem;
		font-size: 25px;
}
.black button{
	background: blue;
	outline: none;
	border: none;
	padding: 2rem 5rem;
	color: white;
	font-size: 1.2rem;
	margin-top: 1rem;
}
	


	
	