*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
}
body,html{
	scroll-behavior: smooth;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 5rem;


}
nav ul{
	display: flex;
	list-style: none;
	gap: 2rem;
	
}
header{
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 1rem 5rem;
	background:skyblue;
	position: fixed;
	width: 90%;
	z-index: 300;
	font-size: 25px;
}
nav{
	display: flex;
	gap:2rem;
	font-weight: bold;
}